footer.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2px;
  background: #333 !important;
  color: #fff;
  padding: 5vh 13vw 7vh;
}
p{
  font-family: 'lato', sans-serif;
  font-size: 14px;
}
ul{
  list-style: none;
}
li {
  text-align: -webkit-match-parent;
}
@media screen and (max-width: 992px) {
  footer.footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2px;
    background: #333 !important;
    color: #fff;
    padding: 5vh 13vw 7vh;
  }
}