<footer class="footer" >
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<h4>Accra, Ghana Office</h4> 
			<p><i class="fa fa-map-marker" aria-hidden="true"> </i> <span class="ml-2"> 4th</span>  Alajo Ave <br>
				Accra – Ghana
			</p>
			
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>Kumasi, Ghana Office</h4>
			<p><i class="fa fa-map-marker" aria-hidden="true"> </i> <span class="ml-2">10</span>  Prof Sir Acheampong Street <br>
				Plot 29 Block L 
				Old Ahinsan, Kumasi – Ghana <br>
			</p>
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>Contact Us</h4>
			<p>
				<i class="fa fa-phone" aria-hidden="true"> </i><span class="ml-2"> +233 55 970 5112</span> <br>
			</p>
			<p><i class="fa fa-envelope" aria-hidden="true"> </i> <span class="ml-2">team@farmerline.co</span> </p>
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>Social</h4>
			Follow us
			<div class="social-icon-list">
			<i class="fa fa-facebook-official ml-2" aria-hidden="true"></i>
				<i class="fa fa-twitter-square ml-2" aria-hidden="true"></i>
				<i class="fa fa-linkedin-square ml-2" aria-hidden="true"></i>
				<i class="fa fa-youtube-play ml-2" aria-hidden="true"></i>
			</div>
			<br>
			<h4>Careers</h4>
			<p>
				<i class="fa fa-phone" aria-hidden="true"> </i><span class="ml-2"> +233 55 970 5112</span> <br>
			</p>		
		</div>
	</div>
</footer>