<nav class="navbar navbar-custom navbar-expand-lg shadow-sm fixed-top">
    <a href="#" class="navbar-brand"><img src="../../../assets/logo.png" class="logo"> </a>
    <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
          </label>
   
        <div class="navbar-collapse  nav-wrapper w-100 order-3 dual-collapse2">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Case Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Career</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item ">
                    <a   class="nav-link nav-button" href="#"> Speak to Us</a>
                </li>
            </ul>
        </div>
   
  </nav>
  
  